<%- include("header") -%>
    <div class="box-1">
        <h1 class="heading">Who made this project? How you made this project?</h1>
        <p>
            The creator of the site is Arshad Ahmad student of Bachelor of Computer Application(BCA). I use EJS, Express
            JS, and Mongoose to build this project. This project wasn't built from scratch, I was following a course
            that has a todo list project. I modified changes and customize and write the entire code by my self just
            idea belongs to udemy teacher Dr. Angela Yu. Idea and guidance credit goes to her. Micro Script is just a
            name that I made up for freelance work.
        </p>
    </div>
    <%- include("footer") -%>