</body>
<footer>
    <p>Copyright &copy; Micro Script</p>
    <div class="handles">
        <a href="https://twitter.com/ItsArshadAhmad" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.linkedin.com/in/arshad-ahmad-1331511a3/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://github.com/itsarshadahmad" target="_blank" class="fa fa-github"></a>
    </div>
</footer>
</html>