<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About - TSF Bank</title>
		<%- include("partials/bootstrap.ejs") -%>
		<link rel="stylesheet" href="/css/about.css" />
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<script src="/js/navbar.js" defer></script>
	</head>
	<body>
		<%- include("partials/navbar.ejs") -%>
		<main>
			<h1>About</h1>
			<div class="mt-2">
				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, fugiat natus recusandae aliquam eum nihil aliquid aut architecto cum soluta corrupti voluptate laborum beatae, voluptates vitae, facere molestias. Velit, qui aspernatur. Reprehenderit accusantium ducimus maxime quisquam quis nesciunt minus reiciendis adipisci quidem minima fuga dolores ab iure, sunt temporibus nam, quasi neque perspiciatis veritatis quos laboriosam delectus. Rerum velit aliquam necessitatibus id quibusdam aut eligendi assumenda accusamus consequatur, exercitationem veritatis dicta quod similique, at impedit harum. Adipisci incidunt aperiam nam porro, quibusdam explicabo et recusandae mollitia a, similique fuga optio dignissimos ratione? Atque architecto labore adipisci quasi debitis, asperiores obcaecati.
				</p>
			</div>
		</main>
		<footer>
            <p>Made with ❤️ by Arshad Ahmad</p>
        </footer>
	</body>
</html>
