<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TSF Bank</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<%- include("partials/bootstrap.ejs") -%>
		<link rel="stylesheet" href="/css/navbar.css" />
		<link rel="stylesheet" href="/css/home.css" />
		<script src="/js/navbar.js" defer></script>
	</head>
	<body>
		<%- include("partials/navbar.ejs") -%>
		<main>
			<div class="tagline">
				<h1>Welcome to TSF Bank</h1>
				<p>Transfer money safely using TSF Bank</p>
				<a href="/users" type="button" class="btn btn-dark">Transfer Money</a>
			</div>

			<div>
				<img class="logo" src="/images/logo.png" alt="logo" />
			</div>
		</main>

        <footer>
            <p>Made with ❤️ by Arshad Ahmad</p>
        </footer>
	</body>
</html>
