<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand mb-0 h1" href="/">
			<img
				src="/images/logo.png"
				alt="Logo"
				width="50"
				height="50"
				class="d-inline-block align-text-center"
			/>
			TSF Bank
		</a>

		<div class="hamburger">
			<div class="navlink-ham"></div>
			<div class="navlink-ham"></div>
			<div class="navlink-ham"></div>
		</div>

		<div class="nav-links nav-items" id="menu-items">
			<a class="nav-link active mx-3" aria-current="page" href="/"
				>Home</a
			>
			<a class="nav-link active mx-3" aria-current="page" href="/users"
				>Customers</a
			>
			<a class="nav-link active mx-3" aria-current="page" href="/about"
				>About</a
			>
		</div>

		<!-- <button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasNavbar"
			aria-controls="offcanvasNavbar"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div
			class="offcanvas offcanvas-end"
			tabindex="-1"
			id="offcanvasNavbar"
			aria-labelledby="offcanvasNavbarLabel"
		>
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">
					TSF Bank
				</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="offcanvas"
					aria-label="Close"
				></button>
			</div>
			
			<div class="offcanvas-body">

				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link active"
							aria-current="page"
							href="/users"
							>Customers</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link active"
							aria-current="page"
							href="/users"
							>About</a
						>
					</li>
				</ul>
			</div>
		</div> -->
	</div>
</nav>
