<%- include("partials/header") %> 
<div class="pt-5 d-flex flex-column justify-content-center align-items-center">
    <h1> <%= postTitle %> </h1>
    <p> <%= postBody %>  </p>
</div>

<%- include("partials/footer") %> 